{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-config-clean-order"
  ],
  "customSyntax": "postcss-styled-syntax",
  "plugins": ["stylelint-order"],
  "rules": {
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-redundant-longhand-properties": null
  }
}